html {
  box-sizing: border-box;
}

body {
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.title {
 font-size: 30px;
 line-height: 24px;
 font-weight: 700;
 color: #000000;
}

 .subtitle {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-content {
  margin: 0 auto;

  width: 1200px;
  min-height: 56px;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* Стили для шапки */

.header {
    box-sizing: content-box;
    height: 56px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: content-box;
  line-height: 26px;
  color: #000000;
  margin: 0;

  background-color: #ffffff;
}

.main-header-logo-wrap {
  position: relative;
  width: 138px;
  height: 71px;

  margin-right: 9px;

  z-index: 2;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 71px;
}

.input-text {
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  padding: 0;
  margin-top: 16px;
  margin-right: 0;
  margin-bottom: 17px;
  margin-left: 0;
  background-color: white;

  z-index: 1;
}

.site-navigation-link {
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.2px;

  padding: 15px 57px;
}

.site-navigation-link-active {
  color: #766357;
}

.site-navigation-link-wrap-left-first {
  margin-left: 14px;
}

.site-navigation-link-wrap-left-second {
  margin-left: 31px;
}

.site-navigation-link-wrap-right-first {
  margin-right: 48px;
}

.site-navigation-link-wrap-right-second {
  margin-right: 15px;
}

.site-navigation-link:hover {
  color: #81b3d2;

  background-color: #ffffff;
}

.site-navigation-link:focus {
  color: #000000;
  opacity: 0.3;

  background-color: #ffffff;
}

/* Стили для вводного блока */

.intro {
  height: 508px;
  position:relative;
  background-image: url(../img/background-shape.svg),
    url(../img/intro-welcome.svg),
    url(../img/background-photo.jpg);
  background-repeat: no-repeat,no-repeat, no-repeat;
  background-size: contain, 458px, cover;
  background-position: top 452px left 0px, top 76px left 370px, top -56px left 0px;
}

/* Стили для блока приемуществ */

.features-preview {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 216px;
}

.features-preview-subtitle {
  text-align: center;
  min-width: 519px;
  letter-spacing: 0.1px;

  margin-top: 62px;
  margin-right: 380px;
  margin-bottom: 20px;
  margin-left: 380px;
}

.features-preview-text {
  text-align: center;
  letter-spacing: 0.1px;

  margin-top: 0px;
  margin-right: 355px;
  margin-bottom: 43px;
  margin-left: 355px;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.features-item {
  text-align: center;

  box-sizing: content-box;
  max-width: 400px;
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 50px;
  padding-left: 45px;

  background-color: #f2f2f2;
}

.features-item-subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 23px;
}

.features-item-subtitle-secondary {
  margin-bottom: 24px;
  max-width: 152px;
  text-align: center;
  color: #ffffff;
  line-height: 23px;
  letter-spacing: 0.2px;

  margin-left: 124px;
}

.features-item-number {
  margin-top: 0;
  margin-bottom: 23px;
}

.features-item-text {
  font-weight: 400;
  line-height: 20px;

  width: 280px;
  margin: 0;
}

.features-item-long {
  width: 400px;
  padding-top: 46px;
  padding-right: 0px;
  padding-bottom: 56px;
  padding-left: 0px;

  background-color: #81b3d2;
  color: #ffffff;
}

.features-item-text-long {
  letter-spacing: 0.1px;

  padding-right: 60px;
  padding-left: 60px;
}

.features-item-text-long-second {
  width: 310px;

  padding-right: 45px;
  padding-left: 45px;
}

.features-item-short {
  padding-top: 46px;
  padding-right: 60px;
  padding-bottom: 53px;
  padding-left: 60px;
}

.features-item-short-subtitle {
  margin-bottom: 23px;
  margin-left: 61px;
  max-width: 157px;

  text-align: center;
}

.features-item-short-text {
  line-height: 22px;
  letter-spacing: 0.1px;
}

.features-img-wrap {
  width: 800px;

  background-color: #e0a285;
  line-height: 0;
}

.features-subitem {
  padding: 0;
  text-align: center;

  margin-top: 58px;
  margin-right: 54px;
  margin-bottom: 78px;
  margin-left: 54px;
}

.features-list-subitem-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-subitem-text {
  letter-spacing: 0.1px;

  margin: 0;
  max-width: 300px;
}

.features-subitem-inner {
  width: 1200px;
}

.features-subitem-subtitle {
  letter-spacing: 0.1px;

  margin-top: 0;
  margin-bottom: 22px;
}

.features-subitem-icon {
  margin-bottom: 21px;
}

.features-subitem-icon-third {
  margin-top: -3px;
  margin-right: 3px;
  margin-bottom: 24px;
}

/* Стили для формы */

.form {
  position: relative;
  margin: 0 auto;
  text-align: center;
  min-width: 568px;
  max-width: 600px;
  box-sizing: content-box;

  margin-top: 58px;
}

.form-text {
  letter-spacing: 0.2px;

  margin-top: 0;
  margin-bottom: 30px;
}

.form-description {
  letter-spacing: 0.1px;
  line-height: 1.8;

  margin-top: 0;
  margin-bottom: 43px;
}

.note-text {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.link-text {
  color: #81b3d2;
}

.button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.button:hover {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #669ec0;
}

.button:active {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  opacity: 0.3;

  background-color: #5496bd;
}

.button-secondary {
  background-color: #766357;
}

.button-secondary:hover {
  background-color: #604e43;
}

.button-secondary:active {
  background-color: #503e33;
}

.form-button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  padding-top: 19px;
  padding-right: 197px;
  padding-bottom: 13px;
  padding-left: 195px;

  margin: 0;
  font-size: 21px;

  background-color: #81b3d2;
}

.form-button:hover {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  padding-top: 19px;
  padding-right: 197px;
  padding-bottom: 13px;
  padding-left: 195px;

  font-size: 21px;

  background-color: #669ec0;
}

.form-button:active {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  padding-top: 19px;
  padding-right: 197px;
  padding-bottom: 13px;
  padding-left: 195px;

  font-size: 21px;

  background-color: #5496bd;
}

.search-button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-transform: uppercase;

  padding-top: 32px;
  padding-right: 138px;
  padding-bottom: 28px;
  padding-left: 139px;

  font-size: 21px;

  background-color: #766357;
}

.search-button:hover {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-transform: uppercase;

  padding-top: 32px;
  padding-right: 138px;
  padding-bottom: 28px;
  padding-left: 139px;

  background-color: #604e43;
}

.search-button:active {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-transform: uppercase;

  padding-top: 32px;
  padding-right: 138px;
  padding-bottom: 28px;
  padding-left: 139px;
  opacity: 0.3;
  background-color: #503e33;
}

/* Стили для фильтра выбора жилья */

.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: content-box;

  height: 217px;
  position:relative;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat,no-repeat, no-repeat;
  background-size: 1200px, 217px;
  background-position: bottom, center;
}

.search-filter-fieldset-type {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: content-box;

  padding-top: 26px;
  padding-right: 72px;
  padding-bottom: 31px;
  padding-left: 72px;
}

.search-filter-list {
  box-sizing: content-box;
  list-style: none;
  border: none;

  max-width: 140px;
  padding: 0;
  border: 0;
  margin: 0;
  margin-top: 22px;
}

.search-list-item {
    text-decoration: none;
}

.search-filter-fieldset {
  border-bottom: none;
  max-width: 140px;
  padding: 0;
  border: 0;
  margin: 0;
}

.search-filter-fieldset-first {
  margin-right: 114px;
}

.search-filter-list-second {
  margin-right: 343px;
}
.search-filter-list-item {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

  color: #ffffff;
}


.search-filter-range {
  width: 330px;
  margin: 50px auto;
  box-sizing: content-box;

  color: #ffffff;
  text-transform: uppercase;

  padding: 0;
  border: 0;
  margin: 0;
}

.search-filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.list-item  {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

}

.catalog-item {
  color: #333333;
}

.search-results-list-item-hotel-description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 258px;

  margin-right: 522px;
}

.search-results-list-item-hotel-description-text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

}

.catalog-item-name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  text-align: left;
  margin-top: 0px;
  margin-bottom: 8px;
  color: #000000;

  letter-spacing: 0.3px;
}

.catalog-item-name:hover {
  color: #81b3d2;
}

.catalog-item-name:active {
  color: #000000;
  opacity: 0.3;
}

.catalog-item-rating {
  color: #666666;

  background-color: #f2f2f2;
  padding: 4px 13px 2px 14px;;

  margin: 0;
}

.list-item-type {
  margin-top: 0;
  margin-right: 39px;
  margin-bottom: 13px;
  margin-left: 0;
}

.list-item-type-second {
  margin-right: 64px;
}

.list-item-type-third {
  margin-right: 21px;
}


.catalog-item-price {
  margin: 0;
}

.search-results-list-item-button-secondary {
  margin-right: 5px;
}

.catalog-item-rating-in-stars {
  height: 17px;
  background-image: url(../img/star.svg);

  background-repeat: repeat-x;
  background-size: 22px 17px;

  margin: 0;
  margin-bottom: 46px;
}

.catalog-item-rating-in-stars-four {
    width: 89px;
}

.catalog-item-rating-in-stars-three {
    width: 66px;
}

.catalog-item-rating-in-stars-two {
    width: 42px;
}

.search-results-list-item-hotel-rating {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  box-sizing: content-box;
  max-width: 110px;
  margin: 0;
}

.search-results-output {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;

  border-bottom: 1px solid #e5e5e5;
}

.search-results-output-sorting {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  padding: 0;

  margin-top: 36px;
  margin-right: 0px;
  margin-bottom: 29px;
  margin-left: 0px;
}

.search-results-output-arrows {
  list-style: none;
}

.search-results-output-subtitle {
  margin-top: 32px;
  margin-right: 48px;
  margin-bottom: 28px;
  margin-left: 72px;
}

.search-results-output-note-text {
  margin-top: 38px;
  margin-right: 39px;
  margin-bottom: 30px;
}

.search-results-output-sorting-note-text {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;

  margin-top: 36px;
  margin-right: 33px;
  margin-bottom: 29px;
  margin-left: 0px;
}

.search-results-output-sorting-note-text:hover {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  opacity: 1;
  border-bottom: 1px dashed #81b3d2;

  margin-top: 36px;
  margin-right: 33px;
  margin-bottom: 29px;
  margin-left: 0px;
}

.search-results-output-sorting-note-text:active {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;

  margin-top: 36px;
  margin-right: 33px;
  margin-bottom: 29px;
  margin-left: 0px;
}

.search-results-output-sorting-note-text-active {
  color: #81b3d2;
  opacity: 1;
}

.search-results-output-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;

  padding: 0;
  margin-top: 35px;
  margin-right: 66px;
  margin-bottom: 30px;
  margin-left: 465px;
}

.search-results-output-controls-icon {
 color: #cacaca;
 margin-right: 6px;
 margin-left: 6px;
}

.search-results-output-controls-icon:hover {
 color: #000000;
}

.search-results-output-controls-icon:active {
 color: #81b3d2;
}

.search-results-output-controls-icon-active {
  color: #81b3d2;
}

.search-results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.search-results-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: content-box;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 24px;
  padding-left: 72px;

  border-bottom: 1px solid #e5e5e5;
}

.search-results-list-item-image {
  margin-right: 30px;
}

.search-results-list-item-button,
.search-results-list-item-rating {
  padding-top: 4px;
  padding-right: 17px;
  padding-bottom: 2px;
  padding-left: 17px;
}

.search-form {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: content-box;
  max-width: 568px;
  max-height: 395px;
  left: 16px;
  right: 16px;

  z-index: 2;

  padding-top: 55px;
  padding-right: 55px;
  padding-bottom: 55px;
  padding-left: 55px;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.search-form-field {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 0;
}

.search-form-field-input {
  height: 38px;
  min-width: 38px;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 29px;
  margin-left: 0;
  background-color: #f2f2f2;

  font-weight: 700;
  text-align: center;
  box-sizing: border-box;

  border: none;
  outline: none;
}

.search-form-field-input:hover {
  background-color: #ebebeb;
}

.search-form-field-input:active {
  background-color: #ffffff;
  border: 2px #e5e5e5 solid;
}

.search-form-field-button {
  position: absolute;
  border: none;
  left: 428px;
  top: 8px;

  color: #a9a9a9;
  background-color: rgba(242,242,242, 0);
  padding: 0;
  margin: 0;
}

.search-form-field-button:hover {
  position: absolute;
  border: none;
  left: 428px;
  top: 8px;

  color: #000000;
  background-color: #f2f2f2;
}

.search-form-field-button:active {
  position: absolute;
  border: none;
  left: 428px;
  top: 8px;

  color: #81b3d2;
  background-color: #f2f2f2;
}

.search-form-field-input-long {
  height: 38px;
  min-width: 333px;
  box-sizing: content-box;

  text-align: left;
  padding-left: 13px;
}

.search-form-field-input-long::-webkit-input-placeholder { color: #000000; text-transform: uppercase }
.search-form-field-input-long::-moz-placeholder { color: #000000; text-transform: uppercase }
.search-form-field-input-long:-ms-input-placeholder { color: #000000; text-transform: uppercase }
.search-form-field-input-long:-o-input-placeholder { color: #000000; text-transform: uppercase }

.search-form-field-input-short {
  height: 38px;
  width: 38px;

  margin-bottom: 54px;
  margin-right: 0;
}

.search-form-field-input-button {
  height: 38px;
  width: 38px;

  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 54px;
  margin-left: 0;
  background-color: #f2f2f2;
  border: none;
  outline: none;

  font-size: 20px;
  color:#a9a9a9;
  font-weight: bold;
}

.search-form-field-input-button:hover {
  color:#000000;
}

.search-form-field-input-button:active {
  color:#81b3d2;
}

.search-form-field-label {
  height: 38px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0.1px;

  margin-top: 1px;
  margin-right: 22px;
}

.search-form-field-label-second {
  margin-right: 18px;
  margin-bottom: 29px;

  color: #000000;
}

.search-form-field-label-short {
  color: #000000;

  margin-right:40px;
  margin-top: 1px;
}

.search-form-field-label-short-second {
  margin-right: 27px;
  margin-left: 51px;
}

/* Стили для футера */

.footer {
  position: relative;
}

.footer-map {
   width: 100%;
   overflow: hidden;
   height: 593px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 36px;
  padding-right: 102px;
  padding-bottom: 36px;
  padding-left: 132px;

  margin-top: 30px;

  background-color: rgba(255,255,255, 0.9);
}

.footer-content-inner {
    position: static;
    background-color: rgba(255,255,255, 1);
    margin-top: 0;
}

.social-networks {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  margin-top: 0;
  margin-right: 200px;
  margin-bottom: 1px;
  margin-left: 229px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 3px;
  margin-left: 3px;

  color: #ffffff;
}

.social-button:hover {
  color: #ffffff;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.website-development {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 3px;
}

.footer-text {
  margin-top: 1px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.footer-subtitle {
  margin: 0px;
}

.footer-content-development-link {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
