html {
  box-sizing: border-box;
}

body {
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.title {
 font-size: 30px;
 line-height: 24px;
 font-weight: 700;
 color: #000000;
}

 .subtitle {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-content {
  margin: 0 auto;

  width: 1200px;
  min-height: 56px;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* Стили для шапки */

.header {
    box-sizing: content-box;
    height: 56px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: content-box;
  line-height: 26px;
  color: #000000;
  margin: 0;

  background-color: #ffffff;
}

.main-header-logo-wrap {
  position: relative;
  width: 138px;
  height: 71px;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 71px;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-text {
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: content-box;
  padding: 0;
  margin: 15px;

  background-color: white;

  z-index: 1;
}

.site-navigation-link {
  font-weight: 700;
  color: #000000;

  padding: 16px 57px;
}

.site-navigation-link:hover {
  color: #81B3D2;

  background-color: #ffffff;
}

.site-navigation-link:focus {
  color: #000000;
  opacity: 0.3;

  background-color: #ffffff;
}

/* Стили для вводного блока */

.intro {
  height: 508px;
  position:relative;
  background-image: url(../img/background-shape.svg),
    url(../img/intro-welcome.svg),
    url(../img/background-photo.jpg);
  background-repeat: no-repeat,no-repeat, no-repeat;
  background-size: contain, 458px, cover;
  background-position: bottom, center, top;
}

/* Стили для блока приемуществ */

.features-preview {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 216px;
}

.features-preview-subtitle {
  text-align: center;
  min-width: 519px;

  margin-top: 60px;
  margin-right: 380px;
  margin-bottom: 20px;
  margin-left: 380px;
}

.features-preview-text {
  text-align: center;

  margin-top: 0px;
  margin-right: 358px;
  margin-bottom: 52px;
  margin-left: 358px;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.features-item {
  text-align: center;

  box-sizing: content-box;
  max-width: 400px;
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 50px;
  padding-left: 45px;

  background-color: #f2f2f2;
}

.features-item-subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.features-item-subtitle-secondary {
  margin-bottom: 25px;
  color: #ffffff;
}

.features-item-number {
  margin-top: 0;
  margin-bottom: 28px;
}

.features-item-text {
  font-weight: 400;

  width: 280px;
  margin-top: 0;
  margin-right: 0px;
  margin-bottom: 0;
  margin-left: 0px;
}

.features-item-long {
  justify-content: center;
  align-items: flex-start;
  box-sizing: content-box;
  max-width: 400px;
  padding-top: 43px;
  padding-right: 60px;
  padding-bottom: 45px;
  padding-left: 60px;

  background-color: #81B3D2;
  color: #ffffff;
}

.features-item-short {
  padding-top: 43px;
  padding-right: 60px;
  padding-bottom: 45px;
  padding-left: 60px;
}

.features-img-wrap {
  width: 800px;

  background-color: #E0A285;
  line-height: 0;
}

.features-subitem {
  padding: 0;
  text-align: center;
}

.features-list-subitem-list {
  display: flex;
  justify-content: left;
  align-items: left;
  list-style: none;
  margin-top: 60px;
  margin-right: 58px;
  margin-bottom: 66px;
  margin-left: 58px;
  padding: 0;
}

.features-subitem-inner {
  width: 1200px;
}

.features-subitem-subtitle {
  margin-top: 0;
  margin-bottom: 30;
}

.features-subitem-icon {
  margin-bottom: 30px;
}

/* Стили для формы */

.form {
  margin: 0 auto;
  text-align: center;
  min-width: 568px;
  max-width: 600px;
  box-sizing: content-box;

  margin-top: 55px;
}

.form-text {
  margin-top: 38px;
  margin-bottom: 35px;
}

.note-text {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.link-text {
  color: #81b3d2;
}

.button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background-color: #81b3d2;
  border: none;
}

.button:hover {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #669ec0;
}

.button:active {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  opacity: 0.3;

  background-color: #5496bd;
}

.button-secondary {
  background-color: #766357;
}

.button-secondary:hover {
  background-color: #604e43;
}

.button-secondary:active {
  background-color: #503e33;
}

.form-button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  padding-top: 19px;
  padding-right: 197px;
  padding-bottom: 19px;
  padding-left: 196px;

  margin: 0;
  font-size: 21px;

  background-color: #81B3D2;
}

.form-button:hover {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  padding-top: 19px;
  padding-right: 197px;
  padding-bottom: 19px;
  padding-left: 196px;

  font-size: 21px;

  background-color: #669EC0;
}

.form-button:active {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  padding-top: 19px;
  padding-right: 197px;
  padding-bottom: 19px;
  padding-left: 196px;

  font-size: 21px;

  background-color: #5496BD;
}

.search-button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  padding-top: 30px;
  padding-right: 140px;
  padding-bottom: 30px;
  padding-left: 140px;

  font-size: 21px;

  background-color: #766357;
}

.search-button:hover {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  padding-top: 30px;
  padding-right: 140px;
  padding-bottom: 30px;
  padding-left: 140px;

  background-color: #604E43;
}

.search-button:active {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  padding-top: 30px;
  padding-right: 125px;
  padding-bottom: 30px;
  padding-left: 125px;
  opacity: 0.3;
  background-color: #503E33;
}

/* Стили для фильтра выбора жилья */

.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: content-box;

  height: 217px;
  position:relative;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat,no-repeat, no-repeat;
  background-size: 1200px, 217px;
  background-position: bottom, center;
}

.search-filter-fieldset-type {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;

}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;

  padding-top: 26px;
  padding-right: 72px;
  padding-bottom: 31px;
  padding-left: 72px;
}

.search-filter-list {
  box-sizing: content-box;
  list-style: none;
  border: none;

  max-width: 140px;
  padding: 0;
  border: 0;
  margin: 0;
}

.search-list-item {
    text-decoration: none;
}

.search-filter-fieldset {
  border-bottom: none;
  max-width: 140px;
  padding: 0;
  border: 0;
  margin: 0;
}

.search-filter-list-item {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

  color: #ffffff;
}


.search-filter-range {
  width: 330px;
  margin: 50px auto;
  box-sizing: content-box;

  color: #ffffff;
  text-transform: uppercase;

  padding: 0;
  border: 0;
  margin: 0;
}

.search-filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.list-item  {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

}

.catalog-item {
  color: #333333;
}

.search-results-list-item-hotel-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 258px;

  margin-right: 522px;
}

.search-results-list-item-hotel-description-text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

}

.catalog-item-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
  color: #000000;
}

.catalog-item-name:hover {
  color: #81b3d2;
}

.catalog-item-name:active {
  color: #000000;
  opacity: 0.3;
}

.catalog-item-rating {
  box-sizing: content-box;
  color: #666666;

  background-color: #f2f2f2;
  padding: 6px 13px 6px 13px;

  margin: 0;
}

.list-item-type {
  margin-top: 0;
  margin-right: 38px;
  margin-bottom: 10px;
  margin-left: 0;
}

.catalog-item-price {
  margin: 0;
}

.search-results-list-item-button {
  padding-top: 16px;
  padding-right: 3px;
  padding-bottom: 16px;
  padding-left: 3px;
}

.search-results-list-item-button-secondary {
  margin-right: 5px;
}

.catalog-item-rating-in-stars {
  height: 17px;
  background-image: url(../img/star.svg);

  background-repeat: repeat-x;
  background-size: 22px 17px;

  margin: 0;
  margin-bottom: 47px;
}

.catalog-item-rating-in-stars-four {
    width: 89px;
}

.catalog-item-rating-in-stars-three {
    width: 66px;
}

.catalog-item-rating-in-stars-two {
    width: 42px;
}

.search-results-list-item-hotel-rating {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: content-box;
  max-width: 110px;
  margin: 0;

  margin: 0;
}

.search-results-output {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;

  border-bottom: 1px solid #E5E5E5;
}

.search-results-output-sorting {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  padding:0;

  margin-top: 34px;
  margin-right: 0px;
  margin-bottom: 34px;
  margin-left: 0px;
}

.search-results-output-arrows {
  list-style: none;
}

.search-results-output-subtitle {
  margin-top: 28px;
  margin-right: 47px;
  margin-bottom: 31px;
  margin-left: 72px;
}

.search-results-output-note-text {
  margin-top: 34px;
  margin-right: 39px;
  margin-bottom: 34px;
}

.search-results-output-sorting-note-text {
  margin-top: 34px;
  margin-right: 16px;
  margin-bottom: 34px;
  margin-left: 0px;
}

.search-results-output-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin-top: 40px;
  margin-right: 73px;
  margin-bottom: 36px;
  margin-left: 502px;
}

.search-results-output-controls-icon {
 margin-right: 6px;
 margin-left: 6px;
}

.search-results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.search-results-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: content-box;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;

  border-bottom: 1px solid #E5E5E5;
}

.search-results-list-item-image {
  margin-right: 30px;
}

.search-results-list-item-button,
.search-results-list-item-rating {
  padding-top: 3px;
  padding-right: 17px;
  padding-bottom: 3px;
  padding-left: 17px;
}

.search-form {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: content-box;
  max-width: 568px;
  max-height: 395px;
  top: 2169px;
  left: 349px;
  right: 349px;

  z-index: 2;

  padding-top: 55px;
  padding-right: 55px;
  padding-bottom: 55px;
  padding-left: 55px;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.search-form-field {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 0;
}

.search-form-field-input {
  height: 38px;
  min-width: 38px;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  background-color: #f2f2f2;

  font-weight: 700;
  text-align: center;
  box-sizing: border-box;

  border: none;
  outline: none;
}

.search-form-field-input-long {
  height: 38px;
  min-width: 346px;
  box-sizing: content-box;

  text-align: left;
  padding-left: 13px;
}

.search-form-field-input-short {
  height: 38px;
  width: 38px;

  margin-bottom: 54px;
  margin-right: 0;
}

.search-form-field-input-button {
  height: 38px;
  width: 38px;

  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 54px;
  margin-left: 0;
  background-color: #f2f2f2;
  border: none;
  outline: none;

  font-size: 20px;
  color:#a9a9a9;
  font-weight: bold;
}

.search-form-field-label {
  height: 38px;
  line-height: 38px;
  font-weight: 700;

  margin-right: 20px;
}

.search-form-field-label-short {
  margin-right:40px;
}

.search-form-field-label-short-second {
  margin-left: 53px;
}

/* Стили для футера */

.footer {
  position: relative;
}

.footer-map {
   width: 100%;
   overflow: hidden;
   height: 593px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 36px;
  padding-right: 101px;
  padding-bottom: 36px;
  padding-left: 117px;

  margin-top: 30px;

  background-color: rgba(255,255,255, 0.9);
}

.footer-content-inner {
    position: static;
    background-color: rgba(255,255,255, 1);
    margin-top: 0;
}

.social-networks {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 3px;
  margin-left: 3px;
}

.website-development {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  margin-right: 8px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
